<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/list.css">
    <title>account list</title>
</head>
<body>
    <div class="content">
        <h2 class="title">记账本</h2>
        <hr />
        <p>
            <div class="common pay">
                <div class="date">2023-05-09</div>
                <div class="description">
                    <span class="action">吃饭</span>
                    <span class="type"><span>支出</span></span>
                    <span class="amount">4399元</span>
                    <button class="close">X</button>
                </div>
            </div>
            <div class="common income">
                <div class="date">2023-05-010</div>
                <div class="description">
                    <span class="action">发工资</span>
                    <span class="type"><span>收入</span></span>
                    <span class="amount">10000元</span>
                    <button class="close">X</button>
                </div>
            </div>
        </p>
    </div>
    
</body>
</html>